@charset "utf-8";
body {
	
	font-family: Arial, Helvetica, sans-serif;
	background:#FFC
	
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}